doctype 5
html(lang='en', ng-app='app')
  head
    title= 'Gabriel Slama'
    script(src='/javascripts/vendor.js')
    script(src='/javascripts/app.js')
    script= "require('app');"
    link(href="/stylesheets/app.css", media="screen, projection", rel="stylesheet", type="text/css")
  body
    header(ng-include, src="'/views/partials/nav.html'")
    section(ng-view, id="home")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7077139-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();